.top-navbar {
  background-color: #0c1740;
}

.dibawah-topbar-rapat {
  margin-top: 6rem;
}

.sidebar {
  width: 15vw;
  position: fixed;
}

.main-content {
  width: 85vw;
  margin-left: 210px;
}
.footer a {
  color: #fff !important;
  text-decoration: none !important;
}

.side-diklik {
  background-color: #5a86e0;
  color: white;
  border-radius: 5px;
  padding-left: 10px;
}